*{
    font-family: "Dank Mono", ui-monospace, monospace;
}

body {
    margin: 0;
    width: 100vw;
}

h1 {
    text-align: center;
}

header {
    padding-bottom: 3em;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    display: inherit;
    flex-direction: column;
    justify-content: center;
}

.sketch {
    display: grid;
    width: 400px;
    height: 400px;
}

.size {
    text-align: center;
}